:root{
    --main-color:#3f51b5
}
body{
    background-color: #f6f6f6 !important;
    
}
nav .brand-logo {
    padding-left: 20px !important; 
}

nav .nav-wrapper{
    padding-right: 20px !important;
}

/* side nav */
.sidenav{
    padding-top: 30px !important;
}
/* add post */
.add-post{
    margin-top: 50px !important;

}
.add-post input:focus{
    border-bottom: 1px solid indigo !important;
}


/* Articles */
#article{
    background: #fff !important;
    padding: 20px !important;
    margin-top: 30px !important;
}

#article a{
    color: var(--main-color);
}

#article a button{
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

/* container */
@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
    }